* {
    margin: 0;
    padding: 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10%;
}

html, body {
    font-size: 20px;
    color: #333;
    font-weight: 300;
    font-family: Lato, Monaco, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.section-s-up {
    background-color: #fafafa;
    background-color: #3374ed21;
    height: 100vh;
    padding: 10% 0 0 0;
}

.form-box {
    width: 80%;
    margin: 0 10%;
    /* background-color: #fff; */
    background-color: #3374ed9d;
    padding: 40px 0;
    box-shadow: 0 2px 2px #cecece;
    border: 1px solid #cecece;
    color: #fff;
}

.form-head {
    width: 60%;
    margin: 0 20% 40px 20%;
    text-align: center;

}

.form-head img {
    height: 40px;
    vertical-align: middle;
}
.form-head a {
    vertical-align: middle;
    color: #fff;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
}

input[type=text],
input[type=email],
input[type=password] {
    padding: 5px;
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 5px;
    color: #000;
}

*:focus {
    outline: 1px solid #fafafa;
}

input[type=submit] {
    padding: 10px 30px;
    text-transform: uppercase;
    background-color:#306fe2;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.3s;
}
input[type=submit]:hover, 
input[type=submit]:active {
    background-color:#2e68d4;
    border: 1px solid rgba(26, 26, 26, 0.192);
}

.form-box .row {
    margin-bottom: 5px;
}

/* QUERIES */
@media only screen and (max-width: 1200px) {
    .row {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 8%;
    }

    .section-s-up {
        padding: 10% 0 0 0;
    }

    .form-box {
        width: 90%;
        margin: 0 5%;
    
    
    }
}
@media only screen and (max-width: 1023px) {

    html,body {
        font-size: 18px;
    }

    .section-s-up {
        padding: 15% 0 0 0;
    }

    .form-box {
        width: 100%;
        margin: 0;
    
    }

    .form-head {
        width: 70%;
        margin: 0 15% 30px 15%;
        text-align: center;
    }

    button {
        padding: 7px 25px;
        transition: all 0.3s;
    }

    .row {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 7%;
    }
}
@media only screen and (max-width: 767px) {

    html,body {
        font-size: 16px;
    }

    .form-head {
        width: 90%;
        margin: 0 5% 20px 5%;
        text-align: center;
    }

    .section-s-up {
        padding: 20% 0 0 0;
    }

    button {
        padding: 5px 20px;
        transition: all 0.3s;
    }

    .row {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 4%;
    }
}

@media only screen and (max-width: 530px) {
    html,body {
        font-size: 15px;
    }

    .section-s-up {
        padding: 25% 0 0 0;
    }
}